/*------------------------------------*\
  Components > Legal Navigation
\*------------------------------------*/

.c-legal-nav {
    &__item {
      display: inline-block;
      font-size: $font-size-tiny;
    }
  
      @include attention() {
        fill: $color-brand;
      }
    }