/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font-family: 'Permanent Marker';
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    transition: $global-transition;

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}